<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="LOGBACK_STDOUT_PATTERN" source="logging.patterns.stdout"
                    defaultValue="%date{'yyyy-MM-dd HH:mm:ss,SSS', Asia/Seoul} %-5level %thread %r \(%logger{15}\) [%mdc{traceId:--}:%mdc{user-id:--}] %msg%n"/>

    <springProperty scope="context" name="LOG_SLACK_DEFAULT_EMOJI" source="slack.log.emoji" defaultValue=":bug:"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOGBACK_STDOUT_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
